.header {
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-size: 36px;
    font-weight: bold;
    margin: 30px 0 30px 60px;
}

.header-list {
    display: flex;
    padding-top: 40px;
}

.header-list-item {
    font-size: 18px;
    margin-right: 40px;
    font-weight: bold;
}

.main {
    background-color: #eeeeee;
    height: 82vh;
}

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.copyright {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.attendance-title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.attendance-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.attendance-card {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    width: 45%;
    height: 15vh;
    margin-bottom: 4vh;
}

.attendance-txt {
    margin-top: 20%;
}

.right {
    margin-left: 5%;
}

.login-title {
    font-size: 26px;
    text-align: center;
    padding-top: 6%;
    margin-bottom: 3vh;
    font-weight: bold;
}

.login-input {
    display: block;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 13px 0 13px 10px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 35px;
}

.login-button {
    display: block;
    width: 30%;
    border-radius: 4px;
    background-color: blue;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.login-small {
    text-align: center;
    margin-top: 35px;
    font-size: 14px;
}

.to-register {
    display: block;
    color: blue;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0.5;
}

.attendance_ttl {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 26px;
}

.attendance_table {
    width: 85%;
    margin: 0 auto;
}

.attendance_tr {
    width: 90%;
    border-top: 1px solid #000;
}

.date_box {
    display: flex;
    justify-content: center;
}

.attandance_tr-txt {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.previous_day {
    display: block;
    margin-top: 50px;
    border: 1px solid blue;
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    color: blue;
    padding: 0 10px 0 10px;
    height: 30px;
    margin-right: 30px;
}

.next_day {
    display: block;
    margin-top: 50px;
    border: 1px solid blue;
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    color: blue;
    padding: 0 10px 0 10px;
    height: 30px;
    margin-left: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.link {
    color: blue;
    background-color: #fff;
    padding: 15px;
}

.page {
    margin-left: 2px;
}

.arrow-right {
    margin-left: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.arrow-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
